### 공통 파일
db.properties
src/main/java/db/mysql/DbProperties.java

### IntelliJ IDEA ###
.idea/
target/
out/
src/test/
*.iws
*.iml
*.ipr
*.xml

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.classpath
.project
build/

