@charset "EUC-KR";

.center {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	max-width: 980px;
}

#wrap {
	margin-top: 240px;
}

#wrap.active {
	margin-top: 160px;
}

/* top_banner */
.top_banner {
	height: 80px;
	width: 100%;
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	background-color: rgb(250, 162, 204);
}

.top_banner.active {
	display: none;
}

.top_banner>div {
	width: 980px;
}

.top_banner>div img {
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.top_banner .btn {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

/* //top_banner */

/* top_btn */
.top_btn {
	position: fixed;
	right: 300px;
	bottom: 120px;
	z-index: 999999;
}

.top_btn .btn {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	cursor: pointer;
	background-image: url("../../img/common/top_btn.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px;
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid #cbcbcb;
}

.top_btn .link {
	width: 140px;
	height: 50px;
	background-image: linear-gradient(to left, rgb(255, 115, 86),
		rgb(251, 67, 87));
	border-radius: 26px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: none;
	transition: all 0.3s ease-in-out;
	opacity: 0;
}

.top_btn .link.active {
	pointer-events: auto;
	right: 60px;
	opacity: 1;
}

.top_btn .link a {
	color: #fff;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
/* //top_btn */

/* header */
header#header {
	position: absolute;
	top: 80px;
	width: 100%;
	z-index: 999999;
}

header#header.scroll {
	background-image: linear-gradient(to right, rgb(215, 67, 87),
		rgb(241, 79, 58) 59%, rgb(239, 100, 47));
	position: fixed;
	top: 0;
}

header#header.scroll .nav {
	height: 60px;
}

header#header.scroll .content {
	display: none;
}

header#header.scroll .nav nav ul a {
	color: #fff;
	display: block;
	width: 100%;
	height: 100%;
}

header#header.scroll .search input {
	color: #fff;
}

header#header.scroll .search input::placeholder {
	color: #fff;
}

header#header.active {
	top: 0;
}

header#header  .content {
	display: flex;
	height: 110px;
	justify-content: center;
	width: 100%;
	border-bottom: 1px solid #eee;
	align-items: center;
}

header#header  .content>div {
	width: 980px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header#header  .content>div .logo {
	width: 120px;
	height: 50px;
	display: flex;
	align-items: center;
}

header#header  .content>div .logo a {
	display: block;
	width: 100%;
	height: 100%;
}

header#header  .content>div .logo img {
	width: 100%;
	height: 100%;
}

header#header  .content>div .memberinfo ul {
	display: flex;
}

header#header  .content>div .memberinfo ul li {
	margin-left: 40px;
}

header#header  .content>div .memberinfo ul li:first-child {
	margin-left: 0;
}

header#header  .content>div .memberinfo ul li a {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #666;
	font-size: 14px;
}

header#header  .content>div .memberinfo ul li span {
	margin-top: 6px;
}

header#header  .content>div .memberinfo ul li img {
	width: 36px;
	height: 36px;
}

header#header .nav {
	display: flex;
	justify-content: center;
	border-bottom: 2px solid #fb4357;
}

header#header .nav>div {
	width: 980px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header#header .nav nav {
	height: 50px;
	display: flex;
	align-items: center;
}

header#header .nav nav ul {
	display: flex;
	align-items: center;
}

header#header .nav nav ul li {
	margin-right: 40px;
}

header#header .nav nav ul li.active a {
	color: #fb4357;
	font-weight: 700;
}

header#header .nav nav ul li.active.scroll a {
	color: #fff;
}

header#header .nav nav ul li.hidden_logo {
	width: 70px;
	border: 1px solid red;
	height: 32px;
	display: none;
}

header#header.scroll .nav nav ul li.hidden_logo {
	display: block;
}

header#header .nav nav ul a {
	color: #222;
	font-weight: 600;
}

header#header .nav .search {
	width: 250px;
	position: relative;
}

header#header .nav .search:before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 1px;
	height: 20px;
	background-color: #cacaca;
	transform: translateY(-50%);
}

header#header .nav .search:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 1px;
	height: 20px;
	background-color: #cacaca;
	transform: translateY(-50%);
}

header#header .nav .search input {
	height: 100%;
	width: 100%;
	background-color: transparent;
	padding: 0 50px 0 20px;
	font-weight: 700;
}

header#header .nav .search  button {
	position: absolute;
	width: 26px;
	height: 26px;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	background-color: transparent;
	cursor: pointer;
}
/* //header */

/* footer */
footer#footer {
	background-color: #f8f8f8;
}

footer#footer .link {
	padding: 24px 0;
	border-bottom: 1px solid #ebebeb;
}

footer#footer .link ul {
	display: flex;
	justify-content: space-between;
	font-size: 14px;
}

footer#footer .link ul li a {
	font-size: 14px;
	color: #666;
}

footer#footer .link ul li.bold a {
	font-weight: 700;
	color: #222;
}

footer#footer .main {
	padding: 24px 0;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

footer#footer .main .text {
	font-size: 12px;
	color: #666;
	line-height: 20px;
}

footer#footer .main .select {
	display: flex;
	align-items: center;
}

footer#footer .main .select select {
	width: 180px;
	height: 34px;
}

footer#footer .main .select .btn {
	margin-left: 4px;
	background-color: #9e9e9e;
	height: 34px;
	width: 34px;
}

footer#footer .main .select .btn  a {
	color: #fff;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	font-weight: 500;
}
/* //footer */

/* index.jsp */
.index .main_slide {
	height: 420px;
}

.index .main_slide .swiper {
	height: 100%;
}

.index .main_slide .swiper .swiper-slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.index .main_slide .swiper .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
	.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet
	{
	width: 6px;
	height: 6px;
	background-color: #fff;
}

.index .main_slide .swiper .swiper-horizontal>.swiper-pagination-bullets,
	.swiper-pagination-bullets.swiper-pagination-horizontal,
	.swiper-pagination-custom, .swiper-pagination-fraction {
	bottom: 60px;
}

.index .main_slide .swiper .btn {
	position: absolute;
	left: 54%;
	bottom: 65px;
	display: flex;
	z-index: 99;
}

.index .main_slide .swiper .btn>div {
	width: 10px;
	height: 10px;
	cursor: pointer;
}

.index .main_slide .swiper .btn .swiper_stop {
	background: #fff;
	width: 8px;
	height: 8px;
	position: relative;
	top: 4px;
}

.index .main_slide .swiper .btn .swiper_start {
	margin-right: 4px;
}

.index .main_slide .swiper .btn>div img {
	width: 100%;
	height: 100%;
}

.index .main_slide .swiper .pop_btn {
	width: 60px;
	height: 60px;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 99;
	cursor: pointer;
}

.index .main_slide .swiper .pop_btn img {
	width: 100%;
	height: 100%;
}

/* pop_up */
.index .pop_up {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999999;
	display: none;
}

.index .pop_up .dimd {
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	z-index: 1;
}

.index .pop_up .video {
	width: 970px;
	height: 580px;
	background-color: #fff;
	z-index: 2;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.index .pop_up .video  .btn {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 60px;
	right: 30px;
	cursor: pointer;
}

.index .pop_up .video  .btn img {
	width: 100%;
	height: 100%;
}

.index .pop_up .video  video {
	width: 920px;
	height: 480px;
	border: 1px solid red;
	margin-top: 20px;
}
/* //pop_up */
.index .chart {
	padding: 60px 0;
	background-color: #f5f5f5;
}

.index .chart .top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.index .chart .top .link {
	display: none;
}

.index .chart .top .link.view {
	display: block;
}

.index .chart .top .link a {
	font-size: 14px;
	color: #222;
	width: 100px;
	height: 30px;
	border: 1px solid #e2e2e2;
	display: flex;
	align-items: center;
	background-color: #fff;
	border-radius: 16px;
	background-color: #fff;
	padding-left: 16px;
	position: relative;
}

.index .chart .top .link a img {
	width: 20px;
	height: 20px;
	position: absolute;
	right: 10px;
	transform: rotate(90deg);
}

.index .chart .top ul {
	display: flex;
}

.index .chart .top ul  li:first-child {
	margin-right: 40px;
}

.index .chart .top ul  li:first-child:before {
	content: none;
}

.index .chart .top ul  li {
	font-size: 26px;
	color: #666;
	cursor: pointer;
	position: relative;
}

.index .chart .top ul  li.active {
	color: #222;
	font-weight: 700;
}

.index .chart .top ul  li:before {
	content: '';
	display: block;
	position: absolute;
	left: -20px;
	top: 50%;
	width: 1px;
	height: 14px;
	margin-top: -7px;
	background-color: #d8d8d8;
}

.index .chart .container {
	margin-top: 20px;
}

.index .chart .container .box {
	display: none;
	position: relative;
}

.index .chart .container .box.view {
	display: block;
}

.index .chart .container .box .swiper {
	padding: 0;
}

.index .chart .container .box .swiper .swiper-wrapper {
	height: 100%;
}

.index .chart .container .box .swiper .swiper-wrapper .swiper-slide {
	width: 100%;
}

.index .chart .container .box .swiper .swiper-wrapper .swiper-slide .img
	{
	width: 100%;
	height: 230px;
	border-radius: 20px;
	position: relative;
	border-radius: 10px;
}

.index .chart .container .box .swiper .swiper-wrapper .swiper-slide .img:before
	{
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.85));
	z-index: 2;
	border-radius: 10px;
}

.index .chart .container .box .swiper .swiper-wrapper .swiper-slide .img .age_day
	{
	position: absolute;
	right: 10px;
	top: 10px;
}

.index .chart .container .box .swiper .swiper-wrapper .swiper-slide .img .age_day .age
	{
	width: 20px;
	height: 20px;
}

.index .chart .container .box .swiper .swiper-wrapper .swiper-slide .img .age_day .age img
	{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0;
}

.index .chart .container .box .swiper .swiper-wrapper .swiper-slide .img .age_day  .day
	{
	color: #fb4357;
	margin-top: 10px;
	font-weight: 700;
	width: 20px;
	height: 20px;
	background: #fff;
	display: flex;
	align-items: center;
	font-size: 12px;
}

.index .chart .container .box .swiper .swiper-wrapper .swiper-slide .img img
	{
	width: 100%;
	height: 100%;
	border-radius: 10px;
	object-fit: cover;
}

.index .chart .container .box .swiper .swiper-wrapper .swiper-slide .img .hover
	{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	align-items: center;
	justify-content: center;
	background-color: rgb(75 72 72/ 60%);
	border-radius: 10px;
	z-index: 2;
}

.index .chart .container .box .swiper .swiper-wrapper .swiper-slide .img:hover .hover
	{
	display: flex;
}

.index .chart .container .box .swiper .swiper-wrapper .swiper-slide .img .hover div .btn
	{
	width: 120px;
	height: 34px;
	font-size: 14px;
	border-radius: 4px;
}

.index .chart .container .box .swiper .swiper-wrapper .swiper-slide .img .hover div .btn:first-child
	{
	background-color: #fff;
}

.index .chart .container .box .swiper .swiper-wrapper .swiper-slide .img .hover div .btn a
	{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	border-radius: 4px;
}

.index .chart .container .box .swiper .swiper-wrapper .swiper-slide .img .hover div .btn:first-child a
	{
	color: #666;
}

.index .chart .container .box .swiper .swiper-wrapper .swiper-slide .img .hover div .btn:last-child
	{
	background-color: #fb4357;
	margin-top: 6px;
}

.index .chart .container .box .swiper .swiper-wrapper .swiper-slide .img .hover div .btn:last-child a
	{
	color: #fff;
}

.index .chart .container .box .swiper .swiper-wrapper .swiper-slide .img .no
	{
	color: #fff;
	font-size: 36px;
	position: absolute;
	left: 20px;
	bottom: 20px;
	font-weight: 700;
	z-index: 2;
}

.index .chart .container .box .swiper .swiper-wrapper .swiper-slide .text_box
	{
	margin-top: 14px;
}

.index .chart .container .box .swiper .swiper-wrapper .swiper-slide .text_box .title
	{
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	line-height: 26px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.index .chart .container .box .swiper .swiper-wrapper .swiper-slide .text_box .reservation
	{
	margin-top: 10px;
	text-align: center;
	font-size: 14px;
}

.index .chart .container .box .swiper .swiper-wrapper .swiper-slide .text_box span:first-child
	{
	margin-right: 20px;
	position: relative;
}

.index .chart .container .box .swiper .swiper-wrapper .swiper-slide .text_box .reservation span:first-child:before
	{
	content: '';
	display: block;
	position: absolute;
	width: 1px;
	height: 10px;
	transform: translateY(-50%);
	background: #aea0a0;
	right: -10px;
	top: 50%;
}

.index .chart .container .box .swiper.expected .swiper-wrapper .swiper-slide .text_box .reservation span:first-child:before
	{
	display: none;
}

.index .navigation.chartnav.chart {
	padding: 0;
}

.index .chart .swiper-button-next, .index .chart .swiper-button-prev {
	width: 40px;
	height: 40px;
	background-color: #fff;
	top: 110px;;
	border-radius: 30px;
	box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
	opacity: 0.8;
	border-radius: 30px
}

.index .chart .swiper-button-next img, .index .chart .swiper-button-prev img
	{
	width: 30px;
	height: 30px;
}

.index .chart .swiper-button-next {
	right: -20px;
}

.index .chart .swiper-button-next  img {
	transform: rotate(90deg);
}

.index .chart .swiper-button-prev  img {
	transform: rotate(270deg);
}

.index .chart .swiper-button-prev {
	left: -20px;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
	content: none;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
	content: none;
}

.index .banner {
	padding: 120px 0;
	cursor: pointer;
}

.index .banner .img {
	height: 180px;
}

.index .banner img {
	width: 100%;
	height: 100%;
}

.index .event {
	padding: 0 0 120px 0;
	cursor: pointer;
}

.index .event .img {
	height: 220px;
}

.index .event img {
	width: 100%;
	height: 100%;
}
/* //index.jsp */

/* //ticket.jsp */
.ticket .region {
	width: 980px;
	height: 460px;
	background-color: #333031;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ticket .region .line {
	border: 3px solid #686667;
	width: 900px;
	height: 400px;
	position: relative;
}

.ticket .region .line .main {
	padding: 40px;
}

.ticket .region .line .main .top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.ticket .region .line .main .top .title {
	color: #fff;
	font-weight: 700;
	font-size: 20px;
}

.ticket .region .line .main .top  .favorite {
	display: flex;
}

.ticket .region .line .main .top  .favorite .block {
	width: 120px;
	height: 50px;
	border: 2px solid #6e6c6d;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 4px;
}

.ticket .region .line .main .top  .favorite .block:first-child {
	margin-left: 0;
}

.ticket .region .line .main .top  .favorite .block a {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #6e6c6d;
	color: #fff;
	position: relative;
	height: 40px;
	width: 110px;
}

.ticket .region .line .main .top  .favorite .block a  span {
	position: absolute;
	right: 6px;
	left: 6px;
}

.ticket .region .line .main .top  .favorite .btn {
	width: 50px;
	height: 50px;
	background-color: #636162;
	margin-left: 4px;
	position: relative;
}

.ticket .region .line .main .top  .favorite a.btn span {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: #ccc;
}

.ticket .region .line .main .top  .favorite a.btn span:first-child {
	width: 6px;
	height: 22px;
}

.ticket .region .line .main .top  .favorite a.btn span:last-child {
	width: 22px;
	height: 6px;
}

.ticket .region .line .main .category {
	display: flex;
	border-top: 2px solid #727171;
	border-bottom: 2px solid #727171;
	padding: 16px 0;;
	margin-top: 20px;
}

.ticket .region .line .main .category  ul {
	display: flex;
	padding: 0 20px;
	width: 100%;
	justify-content: space-between;
}

.ticket .region .line .main .category  ul li {
	margin-right: 20px;
}

.ticket .region .line .main .category  ul li.active a {
	color: #fff;
}

.ticket .region .line .main .category  ul li:last-child {
	margin-right: 0;
}

.ticket .region .line .main .category  ul li a {
	color: #9b9898;
	font-size: 14px;
	font-weight: 600;
}

.ticket .region .line .body .list {
	padding: 20px;
	display: none;
}

.ticket .region .line .body .list.view {
	display: block;
}

.ticket .region .line .body .list  ul {
	display: flex;
}

.ticket .region .line .body .list  ul  li {
	margin-right: 20px;
}

.ticket .region .line .body .list  ul  li a {
	color: #b9b9b9;
	font-size: 12px;
	font-weight: 700;
	position: relative;
}

.ticket .region .line .body .list  ul  li a:before {
	display: inline-block;
	content: '';
	width: 1px;
	height: 12px;
	background: #b9b9b9;
	position: absolute;
	right: -11px;
	top: 50%;
	margin-top: -6px;
}

.ticket .theater_text .hr {
	margin-top: 60px;
	position: relative;
	height: 80px;
	display: flex;
	align-items: center;
}

.ticket .theater_text .hr>div {
	width: 100%;
}

.ticket .theater_text .hr hr {
	margin-top: 10px;
}

.ticket .theater_text .title {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 50px;
	font-weight: 900;
	width: auto !important;
	background: #fff;
	z-index: 1;
}

.ticket .theater .theater-tit {
	font-size: 30px;
	color: #333;
}

.ticket .theater .theater_img {
	height: 420px;
	border: 1px solid red;
	margin-top: 20px;
	position: relative;
}

.ticket .theater .theater_img .text {
	height: 166px;
	background-color: #000;
	position: absolute;
	color: #fff;
	width: 100%;
	bottom: 0;
	padding: 20px;
	opacity: 0.6;
}

.ticket .theater .theater_img .text .phone {
	margin-top: 20px;
}

.ticket .theater .theater_img .text .seat {
	margin-top: 4px;
}

.ticket  .tab {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

.ticket  .tab ul {
	display: flex;
}

.ticket  .tab ul  li {
	width: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fb4357;
	height: 40px;
	position: relative;
}

.ticket  .tab ul  li  a {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-weight: 700;
	width: 100%;
	height: 100%;
}

.ticket  .tab ul  li::after {
	content: "|";
	color: #fff;
	position: absolute;
	right: 100%;
	top: 50%;
	transform: translateY(-50%);
}

.ticket .swiper {
	width: 800px;
}

.ticket .schedule {
	margin-top: 40px;
	border-top: 3px solid #241d1e;
	padding: 20px 0 0 0;
}

.ticket .schedule  .slide {
	position: relative;
	padding-bottom: 20px;
}

.ticket .schedule .swiper-slide.border {
	border: 2px solid #000;
}

.ticket .schedule .swiper-slide {
	height: 50px;
	border-radius: 4px;
	width: 80px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.ticket .schedule .swiper-slide .day {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 12px;
}

.ticket .schedule .swiper-slide .no {
	font-size: 32px;
	font-weight: 700;
}

.ticket .schedule .swiper-button-next, .ticket .schedule .swiper-button-prev
	{
	width: 40px;
	height: 40px;
	background-color: #fff;
	border-radius: 30px;
	box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
	opacity: 0.8;
	top: 28px;
}

.ticket .schedule .swiper-button-next img, .ticket .schedule .swiper-button-prev img
	{
	width: 100%;
	height: 100%;
	width: 30px;
	height: 30px;
}

.ticket .schedule .swiper-button-next img {
	transform: rotate(90deg);
}

.ticket .schedule .swiper-button-prev img {
	transform: rotate(270deg);
}

.ticket .schedule .sect-guide {
	position: relative;
	height: 37px;
	padding: 0 0 0 13px;
	border-top: 2px solid #474746;
	border-bottom: 1px solid #474746;
	display: flex;
	align-items: center;
}

.ticket .schedule .sect-guide ul {
	display: flex;
}

.ticket .schedule .sect-guide ul  li {
	font-size: 14px;
	display: flex;
	align-items: center;
	margin-right: 10px;
}

.ticket .schedule .sect-guide ul  li img {
	width: 20px;
	height: 20px;
	margin-right: 4px;
}

.ticket .schedule .sect-guide .text {
	margin-left: 20px;
	color: #794624;
	font-size: 14px;
}

.ticket .schedule  .list .block {
	padding: 40px 20px;
	border-bottom: 1px solid #474746;
}

.ticket .schedule  .list .block .head {
	display: flex;
	align-items: center;
}

.ticket .schedule  .list .block .head .grade {
	width: 20px;
	height: 20px;
	border: 1px solid red;
	margin-right: 10px;
}

.ticket .schedule  .list .block .head .grade img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.ticket .schedule  .list .block .head .movie_title {
	margin-right: 10px;
}

.ticket .schedule  .list .block .head  .situation {
	width: 46px;
	height: 20px;
	border: 2px solid #3e82a4;
	color: #3e82a4;
	font-size: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
}

.ticket .schedule  .list .block .head .information {
	font-size: 12px;
	color: #666;
}

.ticket .schedule  .list .block .main {
	margin-top: 40px;
}

.ticket .schedule  .list .block .main  .category {
	color: #333;
	font-size: 12px;
}

.ticket .schedule  .list .block .main .timetable {
	margin-top: 10px;
}

.ticket .schedule  .list .block .main .timetable ul {
	display: flex;
	flex-wrap: wrap;
}

.ticket .schedule  .list .block .main .timetable ul li {
	width: 72px;
	height: 44px;
	border: 1px solid #cbcabe;
	display: flex;
	align-items: center;
	justify-content: center;
}

.ticket .schedule  .list .block .main .timetable ul li  a {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.ticket .schedule  .list .block .main .timetable ul li  a span.time {
	font-size: 12px;
	color: #333;
}

.ticket .schedule  .list .block .main .timetable ul li  a span.seat {
	font-size: 12px;
	color: #2275a4;
}

.ticket .schedule  .info-noti {
	font-size: 14px;
	color: #666;
	padding-top: 20px;
	border-top: 2px solid #474746;
	padding-bottom: 120px;
}
/* ticket.jsp */

/* log */
.log {
	padding: 80px 0;
}

.log .log_nav_box {
	display: flex;
}

.log .log_nav {
	cursor: pointer;
	width: 120px;
	height: 38px;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	border-radius: 10px 10px 0 0;
	margin-right: 2px;
}

/* loginForm */
.log.loginForm .login_box {
	display: flex;
	justify-content: center;
	padding: 40px 0 0 0;
}

.log.loginForm .login_box>div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.log.loginForm .login_box .title {
	font-size: 14px;
	color: #666666;
	font-weight: 500;
}

.log.loginForm .login_box .input.id {
	margin-top: 20px;
}

.log.loginForm .login_box .input {
	margin-top: 6px;
}

.log.loginForm .login_box .input input {
	width: 260px;
	border: 2px solid #b5b5b5;
	height: 40px;
	padding-left: 10px;
}

.log.loginForm .login_box  .input.btn input {
	background: #fb4357;
	color: #fff;
	border: none;
	cursor: pointer;
}
/* //loginForm */

/* nonReservationForm */
log .nonReservationForm table, th, td {
	padding: 10px;
}

log.nonReservationForm th {
	background-color: #e3e3e3;
}

hr {
	width: 1000px;
	margin-left: 0;
}

log.nonReservationForm .div {
	background-color: #e0cdaf;
	border: 1px solid;
	width: 1000px;
	height: 210px;
	padding: 10px;
}

log.nonReservationForm .div:after {
	clear: both;
	display: block;
	content: ''
}

log.nonReservationForm .div .div_inner {
	float: left;
	text-align: left;
}

log.nonReservationForm #var {
	margin-left: 10px;
	border-left: thin solid black;
	height: 180px;
	display: inline-block;
}

log.nonReservationForm .p {
	display: inline-block;
}

log.nonReservationForm #inner_p {
	padding-left: 20px;
}

.nonReservation_box {
	padding: 40px 0 0 0;
}

.nonReservation_box .block {
	margin-top: 40px;
}

.nonReservation_box .block.agreement {
	border-bottom: 2px solid #41413e;
	padding-bottom: 40px;
}

.nonReservation_box .block:first-child {
	margin-top: 0;
}

.nonReservation_box .block h4.title_h4 span {
	color: #fb4357;
	margin-right: 10px;
}

.nonReservation_box .block p.explanation {
	font-size: 14px;
	color: #666;
	margin-top: 10px;
}

.nonReservation_box .block.agreement table {
	margin-top: 20px;
	color: #666;
	font-size: 12px;
	width: 540px;
	border-bottom: 2px solid #b8b6aa;
}

.nonReservation_box .block.agreement table th {
	background-color: #e2e2e0;
	font-size: 14px;
	border-bottom: 1px dotted #b8b6aa;
	border-top: 1px solid #b8b6aa;
}

.nonReservation_box .block.agreement table td {
	height: 90px;
	vertical-align: middle;
	line-height: 20px;
	border-right: 1px solid #b8b6aa;
}

.nonReservation_box .block.agreement table td:last-child {
	border: none;
}

.nonReservation_box .block.agreement table td.bk {
	color: #222;
	text-align: center;
}

.nonReservation_box .block.agreement table p.check {
	display: flex;
	align-items: center;
}

.nonReservation_box .block.agreement table p.check  input {
	margin-right: 4px;
}

.nonReservation_box .block.input h5.gray_bg {
	background-color: #e2e2e0;
	height: 46px;
	padding-left: 40px;
	display: flex;
	align-items: center;
}

.nonReservation_box .block.input .list {
	padding: 30px;
	background: #fff;
	border: 1px solid #e2e2e0;
	border-top: none;
}

.nonReservation_box .block.input .list p.small {
	border-bottom: 2px solid #b8b6aa;
	padding-bottom: 6px;
}

.nonReservation_box .block.input .list p.small  small {
	font-size: 14px;
}

.nonReservation_box .block.input .list .input {
	padding: 20px 0;
	border-bottom: 1px solid #dfded7;
	display: flex;
	align-items: center;
}

.nonReservation_box .block.input .list .input label {
	font-size: 12px;
	display: block;
	width: 120px;
}

.nonReservation_box .block.input .list .input  span#birthdate_check {
	font-size: 12px;
	padding-left: 10px;
}

.nonReservation_box .block.input .list .input input {
	width: 120px;
	height: 30px;
	border: 1px solid #b5b5b5;
	padding-left: 10px;
}

.nonReservation_box .block.input .list .input select {
	width: 60px;
	height: 30px;
	border: 1px solid #b5b5b5;
}

.nonReservation_box .block.input .list .input button {
	border: 2px solid #fb4357;
	color: #fb4357;
	background: none;
	width: 110px;
	height: 30px;
	font-weight: 700;
	margin-left: 10px;
	cursor: pointer;
}

.nonReservation_box .block.input .list .input input#btn {
	border: 2px solid #fb4357;
	color: #fb4357;
	background: none;
	width: 130px;
	padding: 0;
	height: 30px;
	font-weight: 700;
	cursor: pointer;
	margin-left: 10px;
	height: 30px;
}

.nonReservation_box .block.reference .div {
	border: 1px solid red;
	padding: 30px;
	border: 2px solid #d5d4cd;
	background: #f9f7ec;
}

.nonReservation_box .block.reference .div .div_inner p#first_p {
	font-size: 14px;
	font-weight: 700;
}

.nonReservation_box .block.reference .div .div_inner.main {
	margin-top: 20px;
}

.nonReservation_box .block.reference .div .div_inner.main p.p small {
	font-size: 12px;
	color: #666;
	line-height: 24px;
}
/* //nonReservationForm */

/* //log */

/* movieshowrate */
#movieshowrate {
	clear: both;
	padding-bottom: 50px;
	position: relative;
	width: 980px;
	margin: 0 auto;
}

#movieshowrate .title-head {
	position: relative;
	height: 100px;
	padding-top: 30px;
	border-bottom: 4px solid #241d1e;
}

#movieshowrate .title-head>h3 {
	display: inline-block;
	position: relative;
	height: inherit;
	margin: 0;
	background-image: none;
	color: #222;
	font-weight: 500;
	font-size: 36px;
	text-align: left;
	vertical-align: middle;
	font-weight: bold;
}

#movieshowrate h3 {
	/* display: block;
    font-size: 1.17em; */
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	line-height: 41px;
	/* font-weight: bold; */
}

#movieshowrate .title-head>.sub-menu>ul>li {
	float: left;
	margin-left: 20px;
}

#movieshowrate .title-head>.sub-menu>ul>li span {
	opacity: 0;
}

#movieshowrate .title-head>.sub-menu>ul>li:hover span {
	opacity: 1;
}

#movieshowrate .title-head>.sub-menu {
	position: absolute;
	top: 48px;
	right: 0;
}

#movieshowrate .sub-menu a {
	cursor: pointer;
}

#movieshowrate .set-movie {
	position: relative;
	margin-top: 20px;
	display: flex; /* 요소들을 가로로 배치 */
	justify-content: space-between; /* 요소들을 양쪽으로 정렬 */
}

#movieshowrate .set-movie .nowshow {
	position: absolute;
	left: 0;
	top: 0;
}

#movieshowrate .hidden {
	font: 0/0 a;
	height: 0;
	overflow: hidden;
	/* position: absolute; */
	visibility: hidden;
	width: 0;
	zoom: 1;
}

#movieshowrate .set-movie .order-type {
	/* position: absolute; */
	right: 0;
}

#movieshowrate .order-type li {
	position: relative;
	float: right;
	padding: 0 14px;
}

#movieshowrate .order-type li:last-child::before {
	display: none;
}

#movieshowrate .order-type li::before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	height: 20px;
	border-left: 1px solid #CCC;
}

#movieshowrate .order-type li.on {
	font-weight: 700;
}

#movieshowrate .order-type li.y {
	font-weight: 700;
}

#movieshowrate .order-type li a {
	cursor: pointer;
}

#movieshowrate .order-type li.p:before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	height: 20px;
	border-left: 1px solid #CCC;
}

#movieshowrate .set-movie-chart {
	margin-top: 30px;
	/* border: 1px solid #000000; */
}

#movieshowrate .set-movie-chart-two {
	margin-top: 30px;
	/* border: 1px solid #000000; */
}

#movieshowrate ol.olThree {
	display: flex;
	justify-content: space-around;
	align-content: center;
	/*  list-style-type: decimal; */
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding: 0px 40px;
	/* padding-inline-start: 40px; */
}

#movieshowrate ol.olThree>li {
	width: 197px;
	padding-bottom: 30px;
}

#movieshowrate ol.olElse {
	display: flex;
	align-content: center;
	/*  list-style-type: decimal; */
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-left: 0px;
	/* padding-inline-start: 40px; */
}

#movieshowrate ol.olElse>li {
	margin-left: 40px;
	width: 197px;
	padding-bottom: 30px;
}

#movieshowrate ol.olThreeChk {
	display: flex;
	justify-content: space-around;
	align-content: center;
	/*  list-style-type: decimal; */
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding: 0px 40px;
	/* padding-inline-start: 40px; */
}

#movieshowrate ol.olThreeChk>li {
	width: 197px;
	padding-bottom: 30px;
}

#movieshowrate ol.olElseChk {
	display: flex;
	align-content: center;
	/*  list-style-type: decimal; */
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-left: 0px;
	/* padding-inline-start: 40px; */
}

#movieshowrate ol.olElseChk>li {
	margin-left: 40px;
	width: 197px;
	padding-bottom: 30px;
}

#movieshowrate .rank1 {
	display: block;
	height: 28px;
	margin-bottom: 4px;
	/* border: 6px solid #000000; */
	background: #fb4357;
	color: #ffffff;
	font-size: 19px;
	text-align: center;
	line-height: 28px;
	font-weight: bold;
}

#movieshowrate .rank2 {
	display: block;
	height: 28px;
	margin-bottom: 4px;
	/* border: 6px solid #000000; */
	background: #333333;
	color: #ffffff;
	font-size: 19px;
	text-align: center;
	line-height: 28px;
	font-weight: bold;
}

#movieshowrate .rank {
	display: block;
	height: 28px;
	margin-bottom: 4px;
	/* border: 6px solid #000000; */
	background: #333333;
	color: #ffffff;
	font-size: 19px;
	text-align: center;
	line-height: 28px;
}

#movieshowrate div.box-img img.icon {
	position: absolute;
	width: 20px;
	left: 5px;
	top: 5px;
	border-radius: 3px;
}

#movieshowrate .img-rank1 {
	display: block;
	position: relative;
}

#movieshowrate .img-rank2 {
	display: block;
	position: relative;
}

#movieshowrate a.link-reservation {
	background: #fb4357; /* 배경색 설정 */
	border-radius: 5px;
	color: white;
	font-size: 9pt;
	padding: 3px;
	margin: 5px 3px 0px 0px;
	width: 97px; /* 너비 설정 */
	height: 25px; /* 높이 설정 */
	display: inline-block; /* 링크를 블록 요소로 표시 */
	text-align: center; /* 텍스트 가운데 정렬 */
	line-height: 18px; /* 텍스트 세로 중앙 정렬 */
	vertical-align: middle;
}

#movieshowrate .title {
	font-size: 15px;
	display: block;
	color: #333333;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-weight: bold;
}

#movieshowrate strong {
	font-weight: 500;
}

#movieshowrate .score {
	margin-top: 7px;
	font-size: 11px;
}

#movieshowrate .score .rate .movie-grade {
	vertical-align: middle;
}

#movieshowrate .score .movie-grade {
	margin-top: -10px;
	padding-left: 6px;
}

#movieshowrate .movie-grade {
	display: inline-block;
	width: auto;
	line-height: 1;
}

#movieshowrate .txt-info {
	margin-top: 3px;
	height: 13px;
	color: #666666;
	/* font-weight: 500; */
	white-space: nowrap;
}

#movieshowrate .txt-info>strong {
	font-size: 11px;
}

#movieshowrate em {
	font-style: normal;
}

#movieshowrate .dday {
	display: inline-block;
	margin-left: 5px;
	color: #fb4357;
	font-size: 12px;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
}

#movieshowrate .box-img img {
	width: 100%;
}

#movieshowrate .box-content {
	margin-top: 7px;
}
/* //movieshowrate */